# Applied Data Science Capstone
Created By: Clement Sofka  
Created On: 2/16/2019 

### This notebook will be mainly used for the capstone project for the Coursera Course: Applied Data Science Capstone

In [1]:
import pandas as pd
import numpy as np

In [2]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

#### Install BeautifulSoup4 as my html web scraper

In [3]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (4.6.3)

#### Install lxml as my html interpreter

In [4]:
!pip install lxml

Requirement already satisfied: lxml in c:\programdata\anaconda3\lib\site-packages (4.2.5)

In [5]:
from bs4 import BeautifulSoup
import requests

#### Read the html

In [6]:
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(source, 'lxml')
# print(soup.prettify())

# Another method if you save the page as an html file
# with open('C:/Users/carri/Desktop/Clement_Career/projects/Coursera_Capstone/postal_codes_canada_wiki.html', encoding='utf-8') as html_file:
#    soup = BeautifulSoup(html_file, 'lxml')

# print(soup.prettify())

# table = soup.find('table', class_='wikitable sortable jquery-tablesorter')
# print(table)

#### Get just the table from the wiki page

In [7]:
table = soup.find('table')
# print(table.prettify())

#### Create pandas dataframe

In [8]:
df_columns = ['PostalCode','Borough','Neighbourhood']
df = pd.DataFrame(columns=df_columns)
df.head()

Empty DataFrame
Columns: [PostalCode, Borough, Neighbourhood]
Index: []

#### Populate df with table text using 'td' tag

In [9]:
row_num = 0
for idx, body in enumerate(table.find_all('td')):
    bt = body.text
    col_num = np.mod(idx,3)
    df.loc[row_num,df_columns[col_num]] = bt
#    print(row_num, col_num, bt)
    if col_num==2:
        row_num = row_num+1

In [10]:
df.head(15)
df.shape

(289, 3)

#### Set rows where Borough=='Not assigned' to Neighbourhood value
#### Then, remove remaining rows with Borough=='Not assigned'

In [11]:
df['Neighbourhood'] = df['Neighbourhood'].str.rstrip('\n')
df['Neighbourhood'] = np.where(df['Neighbourhood'] == 'Not assigned', df['Borough'], df['Neighbourhood'])
df.drop(df[df.Borough=='Not assigned'].index, inplace=True)
df.reset_index(drop=True, inplace=True)
df.head()

  PostalCode           Borough     Neighbourhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront
3        M5A  Downtown Toronto       Regent Park
4        M6A        North York  Lawrence Heights

In [12]:
df.shape

(212, 3)

#### Group neighbourhoods by same PostalCodes

In [13]:
df = df.groupby(['PostalCode', 'Borough'])['Neighbourhood'].apply(','.join).reset_index()
#df2.agg(['Neighbourhood'])
df.head()

  PostalCode      Borough                         Neighbourhood
0        M1B  Scarborough                         Rouge,Malvern
1        M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2        M1E  Scarborough       Guildwood,Morningside,West Hill
3        M1G  Scarborough                                Woburn
4        M1H  Scarborough                             Cedarbrae

In [14]:
df.shape

(103, 3)